*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#page1{
  height: 100vh;
  width: 100%;  
  /* background-color: rgb(95, 255, 255); */
}
#page2{
    height: 100vh;
    width: 100%;  
    /* background-color: rgb(128, 252, 194); */
  }
  #page3{
    height: 100vh;
    width: 100%;  
    /* background-color: rgb(251, 118, 249); */
  }
  #page2 #image-div{
    height: 100%;
    width: 35%;
    position: relative;
    left: 50%;
    transform: translateX(-50%) ;
    overflow: hidden;
  }
  #image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.3;
  }